from CRABClient.UserUtilities import config, getUsernameFromSiteDB
config = config()

isData = ?isdata

config.General.workArea = '?subdir'
config.General.transferOutputs = True
config.General.transferLogs = True

config.JobType.pluginName = 'Analysis'
config.JobType.psetName = '?runconfig'

config.Data.inputDataset = '?dataset'
config.Data.inputDBS = 'global'
config.Data.outLFNDirBase = '/store/?user/?subdir'
config.Data.publication = False
config.Data.outputDatasetTag = '?outputdatatag'


if (isData == True) :
     config.Data.splitting = 'LumiBased'
     config.Data.unitsPerJob = 5
     config.Data.lumiMask = 'https://cms-service-dqm.web.cern.ch/cms-service-dqm/CAF/certification/Collisions15/13TeV/?jsonfile'
     config.Data.runRange = '?runrange'
else :
     config.Data.splitting   = 'FileBased'
     config.Data.unitsPerJob =3



config.Site.storageSite = 'T3_US_FNALLPC'
config.Site.whitelist   = ['T3_US_FNALLPC', 'T1_US_FNAL']
config.Debug.extraJDL = ['+CMS_ALLOW_OVERFLOW=?allowoverflow']

